@import "colors.styl"

body {
  -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold
  -webkit-font-smoothing: auto
}

h1,
h2 {
  font-size: 20px
  margin-top: 32px
  margin-bottom: 12px
}

h4 {
  font-size: 15px
  line-height: 22px
}

p {
  font-size: 15px
  line-height: 1.6
  -webkit-font-smoothing: auto
}

ul {
  padding: 0
  list-style-type none

  li {
    position: relative
    padding-left: 20px
    -webkit-font-smoothing: auto
    font-size: 15px
    line-height: 1.6
    margin-bottom 0.5em

    &::after {
      position: absolute
      left: 0
      top: 8px
      content: ''
      display: block
      height: 7px
      width: 7px
      border-radius: 3.5px
      background-color: $colors.primary
    }
  }
}
