body {
  -webkit-font-smoothing: antialiased
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold
  -webkit-font-smoothing: auto
}

h1,
h2 {
  font-size: 20px
  margin-top: 32px
  margin-bottom: 12px
}

h4 {
  font-size: 15px
  line-height: 22px
}


p {
  font-size: 15px
  line-height: 1.6
  -webkit-font-smoothing: auto
}
