body {
  -webkit-font-smoothing: antialiased
}

h1,
h2 {
  font-size: 20px
  margin-top: 32px
  margin-bottom: 12px
  font-weight: bold
  -webkit-font-smoothing: auto
}

p {
  font-size: 15px
  line-height: 1.6
  -webkit-font-smoothing: auto
}
